.btn {
  padding: 7px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #6557f5;
  color: #fff;
}

.btn-secondary {
  background: none;
  text-decoration: underline;
  color: #6557f5;
}
